
@import "recipes.css";


body { padding: 75px 80px; background: #AFDCEC; color: #000000; font-family: "Helvetica Neue", "Verdana", sans-serif;}
a {text-decoration:none; color: #000000; }

#wrapper { margin:auto; width: 1024px; }

.alert { border-radius:10px; background: #3f634d; border: 2px solid #3c8455; padding: 15px; }
